* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background: #eee;
	background: radial-gradient(ellipse at center, #fff 0%, #eee 100%);
	background-size: cover;
	background-attachment: fixed;

	font-family: $font-serif;
	font-size: 17px;
	line-height: 1.88235;
	color: #36404e;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media print {
		background: #fff;
		color: #000;
	}
}


.book-container {
	max-width: 900px;
	padding: 30px 30px;
	margin: 0 auto;

	@media print {
		margin: 0;
		padding: 0;
		max-width: none;
	}
}

.book {
	background: #fff;
	border: 1px solid #ddd;
	padding: 16mm;

	@media print {
		border: 0;
		padding: 0;
	}
}

@page {
	size: 210mm 297mm;
	margin: 27mm 16mm 27mm 16mm;
}