* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background: #eee;
	background: radial-gradient(ellipse at center, #fff 0%, #eee 100%);
	background-size: cover;
	background-attachment: fixed;

	font-family: $font-serif;
	font-size: 17px;
	line-height: 1.75;
	color: #36404e;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	widows: 2;
	orphans: 2;

	@media print {
		background: transparent;
		color: #000;
		font-size: 11pt;
	}
}


.book-container {
	max-width: 875px;
	padding: 30px 30px;
	margin: 0 auto;

	@media print {
		margin: 0;
		padding: 0;
		max-width: none;
	}
}

.chapter,
.menu {
	background: #fff;
	border: 1px solid #ddd;
	padding: 16mm;
	margin: 0 0 128px;

	@media print {
		border: 0;
		padding: 0;
		margin: 0;
	}
}


aside {
	float: left;

}

@page {
	size: C5;
	margin: 22mm 16mm 22mm 16mm;
	//marks: crop cross;
	//prince-bleed: 3mm;
	//prince-mark-length: 6mm;
	//prince-mark-offset: 6mm;
}

@page:left {
	@bottom-left {
		content: counter(page);
		vertical-align: middle;
		margin: 0.8em 0;
		font-size: 10pt;
	}
}

@page:right {
	@bottom-right {
		content: counter(page);
		vertical-align: middle;
		margin: 0.8em 0;
		font-size: 10pt;
	}
}

@page clean {
	@bottom-center { content: normal }
}

.menu {
	page: clean;
}

.chapter {
	page-break-before: right;
}