* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background: #eee;
	background: radial-gradient(ellipse at center, #fff 0%, #eee 100%);
	background-size: cover;
	background-attachment: fixed;

	font-family: $font-serif;
	font-size: 17px;
	line-height: 1.88235;
	color: #36404e;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	widows: 3;
	orphans: 3;

	@media print {
		background: transparent;
		color: #000;
	}
}


.book-container {
	max-width: 875px;
	padding: 30px 30px;
	margin: 0 auto;

	@media print {
		margin: 0;
		padding: 0;
		max-width: none;
	}
}

.chapter,
.menu {
	background: #fff;
	border: 1px solid #ddd;
	padding: 16mm;
	margin: 0 0 128px;

	&>:first-child {
		margin-top: 0;
	}

	@media print {
		border: 0;
		padding: 0;
		margin: 0;
	}
}

aside {
	float: left;

}

@page {
	size: 210mm 297mm;
	margin: 27mm 16mm 27mm 16mm;
}