.typo {

	position: relative;

	>*:first-child {
		margin-top: 0;
	}

	p {

		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-o-hyphens: auto;
		hyphens: auto;

		margin-bottom: 1.3em;
		text-align: justify;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: $font-sans;
		font-weight: 900;

		margin: 1.414em 0 0.5em;
		line-height: 1.2;
		break-after: avoid;
	}

	h1 {
		margin-top: 3em;
		font-size: 3.157em;
	}

	h2 {
		font-size: 2.369em;
	}

	h3 {
		font-size: 1.777em;
	}

	h4 {
		font-size: 1.333em;
	}

	h5 {
		font-size: 1em;
	}

	h6 {
		font-size: .75em;
	}

	small,
	.small {
		font-size: 0.75em;
	}

	ol,
	ul {
		margin: 0 0 1.3em 1em;
		text-align: justify;

		ul,
		ol {
			margin-bottom: 0;
		}

		li {
			margin: 0 0 .5em 1em;
		}
	}

	hr {
		height: 0;
		border-top: 1px solid #eee;
		margin: 3em 0;
	}

	code {
		padding: .2em .5em;
		margin: 0;
		font-size: 85%;
		background-color: rgba(0,0,0,0.04);
		border-radius: 3px;
	}

	pre {
		border-radius: 3px;
		font-family: $font-monospaced;
		background-color: rgba(0,0,0,0.04);
		color: #333;
		margin-bottom: (48/14) * 1em;
		margin-top: (48/14) * 1em;
		padding: 16px;
		tab-size: 4;
		letter-spacing: .2px;
		position: relative;

		font-size: 14px;
		line-height: 1.8;

		code {
			background: transparent;
			padding: 0;
			font-size: 100%;
			border-radius: 0;
			display: block;

			&.language-html,
			&.language-css {

				&:before {
					display: block;
					position: absolute;
					top: 16px;
					right: -8px;
					background: #ddd;
					color: #333;
					line-height: 1;
					padding: 8px 16px 8px 8px;

					font-family: $font-sans;
					font-weight: 700;
				}

				&:after {
					display: block;
					content: '';
					width: 0;
					height: 0;
					border: 4px solid transparent;
					border-bottom-color: #ccc;
					border-left-color: #ccc;
					position: absolute;
					top: 8px;
					right: -8px;
				}
			}

			&.language-css:before {
				content: 'CSS';
			}

			&.language-html:before {
				content: 'HTML';
			}
		}
	}

	img {
		max-width: 100%;
	}

	>img {
		margin: 2em 0;
	}

	>img,
	figure img {
		display: block;
		border-radius: 3px;
	}

	figure {
		margin: 2em 0;

		figcaption {
			font-style: italic;
			text-align: center;
			margin: 10px 0 0 0;
		}
	}

	blockquote {
		font-style: italic;
		padding-left: 2em;
		border-left: 2px solid #36404e;
		font-size: 16px;

		p,
		ul,
		ol {
			margin-bottom: .6em;
		}
	}

	.snippet {
		float: right;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding: 21px;
		margin: .6em 0 .25em 2em;
		line-height: 30px;
		color: #666;
		font-family: $font-sans;

		&:before {
			float: right;
			content: '\e031';
			font-family: $font-icons;
			color: rgba(0, 0, 0, .4);
			font-size: 30px;
			vertical-align: middle;
			margin: 0 0 0 16px;
			font-weight: normal;
		}
	}

	.todo {
		font-family: $font-sans;
		position: absolute;
		right: -300px;
		background: #fff;
		padding: 12px 16px;
		border: 1px solid #ddd;
		border-radius: 3px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		font-size: 15px;
		width: 280px;
		margin-top: -40px;
		display: block;
		line-height: 1.5;
		border-left: 0;
		box-shadow: inset 4px 0 0 0 #ddd;

		&:before,
		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-right-color: #ddd;
			position: absolute;
			left: -20px;
			top: 16px;
		}

		&:after {
			border-right-color: #fff;
			left: -15px;
		}

		&.important {
			box-shadow: inset 4px 0 0 0 #cc0000;

			&:before {
				border-right-color: #cc0000;
			}

		}

		cite {
			display: block;
			text-align: right;
			text-transform: uppercase;
			font-family: $font-sans;
			font-style: normal;
			font-size: 14px;
			font-weight: 700;
			margin-top: 1em;
		}

		@media print {
			display: none;
		}
	}

	table {
		margin: 3em 0;
		border-collapse: collapse;
		width: 100%;

		th {
			background: rgba(0, 0, 0, .04);
		}

		th,
		td {
			border: 1px solid #ddd;
			padding: 8px;
		}
	}


	.box {
		border-left: none;
		position: relative;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding: 20px 0 20px 80px;
		margin: 3em 0;
		color: #666;
		font-style: normal;
		break-inside: avoid;
		font-family: $font-sans;
		line-height: 1.5;

		&>*:last-child {
			margin-bottom: 0;
		}

		&:before {
			content: attr(data-label);
			display: block;
			text-transform: uppercase;
			font-weight: 700;
			margin-bottom: 8px;
			break-after: avoid;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 16px;
			top: 12px;
			font-size: 40px;
			font-family: $font-icons;
			font-style: normal;
			color: rgba(0, 0, 0, .2);
		}

		&.warning:after {
			content: '\e01c';
		}

		&.tip:after {
			content: '\e076';
		}

		&.question:after {
			content: '\e019';
		}

		&.homework:after {
			content: '\e013';
		}
	}
}