* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  background: #eee;
  background: -webkit-radial-gradient(center, ellipse, #fff 0%, #eee 100%);
  background: radial-gradient(ellipse at center, #fff 0%, #eee 100%);
  background-size: cover;
  background-attachment: fixed;
  font-family: "PT Serif", serif;
  font-size: 17px;
  line-height: 1.75;
  color: #36404e;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  widows: 2;
  orphans: 2; }
  @media print {
    body {
      background: none;
      color: #000;
      font-size: 9pt; } }

.book-container {
  max-width: 875px;
  padding: 30px 30px;
  margin: 0 auto; }
  @media print {
    .book-container {
      margin: 0;
      padding: 0;
      max-width: none; } }

.chapter,
.menu {
  background: #fff;
  border: 1px solid #ddd;
  padding: 16mm;
  margin: 0 0 128px;
  page-break-after: right; }
  @media print {
    .chapter,
    .menu {
      background: none;
      border: 0;
      padding: 0;
      margin: 0; } }

aside {
  float: left; }

@page {
  size: 170mm 245mm;
  prince-bleed: 5mm; }

@page :left {
  margin: 16mm 26mm 16mm 16mm;
  @bottom-left {
    content: counter(page);
    vertical-align: middle;
    margin: 0.8em 0;
    font-size: 10pt; } }

@page :right {
  margin: 16mm 16mm 16mm 26mm;
  @bottom-right {
    content: counter(page);
    vertical-align: middle;
    margin: 0.8em 0;
    font-size: 10pt; } }

@page clean {
  @bottom-left {
    content: none; }
  @bottom-right {
    content: none; } }

.introduction {
  page: introduction;
  page-break-after: right; }

@page :blank {
  @bottom-left {
    content: none; }
  @bottom-right {
    content: none; } }

.menu {
  page: clean; }

body {
  counter-reset: homework; }

.typo {
  position: relative; }
  .typo h1:first-of-type {
    margin-top: 0; }
  .typo p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    margin-bottom: 1.3em;
    text-align: justify; }
  .typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    margin: 1.414em 0 0.5em;
    line-height: 1.2;
    -webkit-column-break-after: avoid;
       page-break-after: avoid;
            break-after: avoid; }
  .typo h1 {
    margin-top: 0;
    font-size: 2.369em; }
  .typo h2 {
    font-size: 1.777em; }
  .typo h3 {
    font-size: 1.333em; }
  .typo h4 {
    font-size: 1em; }
  .typo small,
  .typo .small {
    font-size: 0.75em; }
  .typo ol,
  .typo ul {
    margin: 0 0 1.3em 1em;
    text-align: justify; }
    .typo ol ul,
    .typo ol ol,
    .typo ul ul,
    .typo ul ol {
      margin-bottom: 0; }
    .typo ol li,
    .typo ul li {
      margin: 0 0 0.5em 1em; }
  .typo hr {
    height: 0;
    border-top: 1px solid #eee;
    margin: 3em 0; }
  .typo code {
    padding: 0.2em 0.5em;
    margin: 0;
    font-size: 85%;
    background-color: #E6E6E6;
    border-radius: 3px; }
  .typo pre {
    border-radius: 3px;
    font-family: Monaco, MonacoRegular, "Courier New", monospace;
    background-color: #E6E6E6;
    color: #222;
    margin-bottom: 2.28571em;
    margin-top: 2.28571em;
    padding: 16px;
    -moz-tab-size: 4;
      -o-tab-size: 4;
         tab-size: 4;
    letter-spacing: .2px;
    position: relative;
    font-size: .85em;
    line-height: 1.5; }
    .typo pre code {
      background: transparent;
      padding: 0 0 0 0;
      word-wrap: break-word;
      white-space: pre-wrap;
      font-size: 100%;
      border-radius: 0;
      display: block; }
      .typo pre code.language-html:before,
      .typo pre code.language-css:before {
        display: block;
        position: absolute;
        top: 11px;
        right: -8px;
        background: #cdcdcd;
        color: #333;
        line-height: 1;
        padding: 8px 16px 8px 8px;
        font-family: "Lato", sans-serif;
        font-weight: 700; }
      .typo pre code.language-css:before {
        content: 'CSS'; }
      .typo pre code.language-html:before {
        content: 'HTML'; }
  .typo img {
    max-width: 100%;
    display: block; }
  .typo p > img:only-child {
    margin: 3em auto;
    max-width: 500px; }
  .typo > img,
  .typo figure img {
    display: block;
    border-radius: 3px; }
  .typo figure {
    margin: 2em 0; }
    .typo figure figcaption {
      font-style: italic;
      text-align: center;
      margin: 10px 0 0 0; }
  .typo blockquote {
    font-style: italic;
    padding-left: 2em;
    border-left: 2px solid #36404e;
    font-size: 1em; }
    .typo blockquote p,
    .typo blockquote ul,
    .typo blockquote ol {
      margin-bottom: .6em; }
  .typo .snippet {
    float: right;
    border: 1px solid #ddd;
    padding: 1em;
    margin: 0.6em 0 0.25em 2em;
    line-height: 1.4em;
    color: #666;
    font-family: "Lato", sans-serif; }
    .typo .snippet:before {
      float: right;
      content: '';
      color: rgba(0, 0, 0, 0.4);
      height: 1.3em;
      width: 1.3em;
      background: url(../svg/e031.svg);
      background-size: 100%;
      vertical-align: middle;
      margin: 0 0 0 16px; }
  .typo .todo {
    font-family: "Lato", sans-serif;
    position: absolute;
    right: -300px;
    background: #fff;
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 15px;
    width: 280px;
    margin-top: -40px;
    display: block;
    line-height: 1.5;
    border-left: 0;
    box-shadow: inset 4px 0 0 0 #ddd; }
    .typo .todo:before,
    .typo .todo:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-right-color: #ddd;
      position: absolute;
      left: -20px;
      top: 16px; }
    .typo .todo:after {
      border-right-color: #fff;
      left: -15px; }
    .typo .todo.important {
      box-shadow: inset 4px 0 0 0 #cc0000; }
      .typo .todo.important:before {
        border-right-color: #cc0000; }
    .typo .todo cite {
      display: block;
      text-align: right;
      text-transform: uppercase;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-size: 14px;
      font-weight: 700;
      margin-top: 1em; }
    @media print {
      .typo .todo {
        display: none; } }
  .typo table {
    margin: 3em 0;
    border-collapse: collapse;
    width: 100%; }
    .typo table th {
      background: rgba(0, 0, 0, 0.04); }
    .typo table th,
    .typo table td {
      border: 1px solid #ddd;
      padding: 8px; }
  .typo .box {
    border-left: none;
    position: relative;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 1em 0 1em 5em;
    margin: 3em 0;
    color: #666;
    font-style: normal;
    -webkit-column-break-inside: avoid;
       page-break-inside: avoid;
            break-inside: avoid;
    font-family: "Lato", sans-serif;
    line-height: 1.5; }
    .typo .box > *:last-child {
      margin-bottom: 0; }
    .typo .box:before {
      content: attr(data-label);
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: .2em;
      -webkit-column-break-after: avoid;
         page-break-after: avoid;
              break-after: avoid; }
    .typo .box.homework:before {
      counter-increment: homework;
      content: attr(data-label) " " counter(homework); }
    .typo .box:after {
      content: '';
      display: block;
      position: absolute;
      left: 1em;
      top: 1em;
      width: 2.6em;
      height: 2.6em;
      background-size: 100%; }
    .typo .box.warning:after {
      background-image: url(../svg/e01c.svg); }
    .typo .box.tip:after {
      background-image: url(../svg/e076.svg); }
    .typo .box.question:after {
      background-image: url(../svg/e019.svg); }
    .typo .box.homework:after {
      background-image: url(../svg/e04c.svg); }
  .typo .browser {
    background: #E6E6E6;
    border-radius: 5px;
    margin: 0 auto 2em;
    padding: 3px;
    page-break-inside: avoid;
    max-width: 480px; }
  .typo .browser-top {
    padding: 3px 3px 5px;
    line-height: 16px; }
  .typo .browser-url {
    background: #fff;
    font-size: 9px;
    line-height: 12px;
    font-family: 'Lato', sans-serif;
    padding: 3px;
    border-radius: 3px;
    color: #999;
    margin: 0 30px 0 70px; }
  .typo .browser-left,
  .typo .browser-right {
    float: left;
    padding: 0 3px 0 10px;
    height: 16px; }
    .typo .browser-left span,
    .typo .browser-right span {
      width: 9px;
      height: 9px;
      display: inline-block;
      background: #CDCDCD;
      margin-right: 8px;
      border-radius: 50%; }
  .typo .browser-right {
    float: right;
    padding-top: 0; }
  .typo .browser-url-world {
    background: url(../svg/world.svg) no-repeat center;
    background-size: 100%;
    width: 13px;
    height: 13px;
    float: left;
    margin-right: 8px; }
  .typo .browser-url-hamburger {
    background: url(../svg/hamburger.svg) no-repeat center;
    background-size: 100%;
    width: 22px;
    height: 20px;
    float: right;
    margin-left: 8px; }
  .typo .browser-prev {
    background: url(../svg/prev.svg) no-repeat center;
    background-size: 100%;
    width: 13px;
    height: 13px;
    display: inline-block; }
  .typo .browser-next {
    background: url(../svg/next.svg) no-repeat center;
    background-size: 100%;
    width: 13px;
    height: 13px;
    display: inline-block; }
  .typo .browser-refresh {
    background: url(../svg/refresh.svg) no-repeat center;
    background-size: 100%;
    width: 13px;
    height: 13px;
    display: inline-block; }
  .typo .browser-mini {
    background: url(../svg/mini.svg) no-repeat center;
    background-size: 100%;
    width: 13px;
    height: 13px;
    display: inline-block; }
  .typo .browser-maxi {
    background: url(../svg/maxi.svg) no-repeat center;
    background-size: 100%;
    width: 13px;
    height: 13px;
    display: inline-block; }
  .typo .browser-close {
    background: url(../svg/close.svg) no-repeat center;
    background-size: 100%;
    width: 13px;
    height: 13px;
    display: inline-block; }
  .typo .browser-content {
    background: #fff;
    min-height: 120px;
    padding: 10px;
    overflow: hidden; }
  .typo .chapter-no {
    background: #36404e;
    color: #fff;
    string-set: chapter content();
    float: right;
    width: 2cm;
    height: 2cm;
    line-height: 2cm;
    font-size: 1.2cm;
    text-align: center;
    margin: 0 0 1cm 1cm; }
    @media print {
      .typo .chapter-no {
        background: #000; } }
    .typo .chapter-no:after {
      display: table;
      content: '';
      clear: both; }
  .typo .url-preview {
    text-align: center;
    font-style: italic;
    font-size: 1.3em; }
  .typo .table-selectors p, .typo .table-selectors pre {
    margin: 0 0 1em; }
    .typo .table-selectors p:last-child, .typo .table-selectors pre:last-child {
      margin-bottom: 0; }
  .typo .table-selectors td {
    padding: 1em;
    width: 50%;
    vertical-align: top; }
  .typo .table-selectors .selectors-example {
    margin: 0 0 1.65em;
    list-style: none;
    font-family: 'Lato', sans-serif;
    text-align: center; }
    .typo .table-selectors .selectors-example li {
      display: inline-block;
      margin: 0 8px 0 0;
      width: 1.6em;
      height: 1.6em;
      border: 1px solid #36404e;
      font-size: 1.2em;
      line-height: 1.4em;
      text-align: center;
      border-radius: 50%;
      vertical-align: middle; }
      .typo .table-selectors .selectors-example li.selected {
        background: #36404e;
        color: #fff;
        font-weight: bold; }

.browser-content {
  color: #000;
  font-family: 'Times New Roman', serif;
  font-size: 14px;
  line-height: normal; }
  .browser-content > *:first-child {
    margin-top: 0; }
  .browser-content h1, .browser-content h2, .browser-content h3, .browser-content h4, .browser-content h5, .browser-content h6 {
    font-family: inherit;
    font-weight: bold; }
  .browser-content h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em; }
  .browser-content h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em; }
  .browser-content h3 {
    font-size: 1.17em; }
  .browser-content p {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left; }
  .browser-content hr {
    margin: .5em 0;
    border-top: 1px solid #999; }
  .browser-content dd {
    margin-left: 2em; }
  .browser-content table {
    width: auto;
    margin: 0;
    border-collapse: separate; }
    .browser-content table td, .browser-content table th {
      border: 0;
      padding: 2px;
      background: transparent; }
    .browser-content table.table-border th, .browser-content table.table-border td {
      border: 1px solid #999; }
  .browser-content p > img:only-child {
    margin: 0;
    max-width: none; }

ul.toc {
  list-style: none;
  margin: 0; }
  ul.toc li {
    padding: 0;
    margin: 0; }
    ul.toc li.strong {
      font-weight: bold; }
    ul.toc li:after {
      content: leader(".") target-counter(attr(href), page); }
  ul.toc a {
    color: inherit;
    text-decoration: none; }
  ul.toc code {
    background: none;
    padding: 0; }
  ul.toc.toc-2 {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; }

@font-face {
  font-family: 'Simple-Line-Icons';
  src: url("../fonts/Simple-Line-Icons.eot");
  src: url("../fonts/Simple-Line-Icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Simple-Line-Icons.woff") format("woff"), url("../fonts/Simple-Line-Icons.ttf") format("truetype"), url("../fonts/Simple-Line-Icons.svg#Simple-Line-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Simple-Line-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-user-female, .icon-user-follow, .icon-user-following, .icon-user-unfollow, .icon-trophy, .icon-screen-smartphone, .icon-screen-desktop, .icon-plane, .icon-notebook, .icon-moustache, .icon-mouse, .icon-magnet, .icon-energy, .icon-emoticon-smile, .icon-disc, .icon-cursor-move, .icon-crop, .icon-credit-card, .icon-chemistry, .icon-user, .icon-speedometer, .icon-social-youtube, .icon-social-twitter, .icon-social-tumblr, .icon-social-facebook, .icon-social-dropbox, .icon-social-dribbble, .icon-shield, .icon-screen-tablet, .icon-magic-wand, .icon-hourglass, .icon-graduation, .icon-ghost, .icon-game-controller, .icon-fire, .icon-eyeglasses, .icon-envelope-open, .icon-envelope-letter, .icon-bell, .icon-badge, .icon-anchor, .icon-wallet, .icon-vector, .icon-speech, .icon-puzzle, .icon-printer, .icon-present, .icon-playlist, .icon-pin, .icon-picture, .icon-map, .icon-layers, .icon-handbag, .icon-globe-alt, .icon-globe, .icon-frame, .icon-folder-alt, .icon-film, .icon-feed, .icon-earphones-alt, .icon-earphones, .icon-drop, .icon-drawer, .icon-docs, .icon-directions, .icon-direction, .icon-diamond, .icon-cup, .icon-compass, .icon-call-out, .icon-call-in, .icon-call-end, .icon-calculator, .icon-bubbles, .icon-briefcase, .icon-book-open, .icon-basket-loaded, .icon-basket, .icon-bag, .icon-action-undo, .icon-action-redo, .icon-wrench, .icon-umbrella, .icon-trash, .icon-tag, .icon-support, .icon-size-fullscreen, .icon-size-actual, .icon-shuffle, .icon-share-alt, .icon-share, .icon-rocket, .icon-question, .icon-pie-chart, .icon-pencil, .icon-note, .icon-music-tone-alt, .icon-music-tone, .icon-microphone, .icon-loop, .icon-logout, .icon-login, .icon-list, .icon-like, .icon-home, .icon-grid, .icon-graph, .icon-equalizer, .icon-dislike, .icon-cursor, .icon-control-start, .icon-control-rewind, .icon-control-play, .icon-control-pause, .icon-control-forward, .icon-control-end, .icon-calendar, .icon-bulb, .icon-bar-chart, .icon-arrow-up, .icon-arrow-right, .icon-arrow-left, .icon-arrow-down, .icon-ban, .icon-bubble, .icon-camcorder, .icon-camera, .icon-check, .icon-clock, .icon-close, .icon-cloud-download, .icon-cloud-upload, .icon-doc, .icon-envelope, .icon-eye, .icon-flag, .icon-folder, .icon-heart, .icon-info, .icon-key, .icon-link, .icon-lock, .icon-lock-open, .icon-magnifier, .icon-magnifier-add, .icon-magnifier-remove, .icon-paper-clip, .icon-paper-plane, .icon-plus, .icon-pointer, .icon-power, .icon-refresh, .icon-reload, .icon-settings, .icon-star, .icon-symbol-female, .icon-symbol-male, .icon-target, .icon-volume-1, .icon-volume-2, .icon-volume-off, .icon-users {
  font-family: 'Simple-Line-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-user-female:before {
  content: "\e000"; }

.icon-user-follow:before {
  content: "\e002"; }

.icon-user-following:before {
  content: "\e003"; }

.icon-user-unfollow:before {
  content: "\e004"; }

.icon-trophy:before {
  content: "\e006"; }

.icon-screen-smartphone:before {
  content: "\e010"; }

.icon-screen-desktop:before {
  content: "\e011"; }

.icon-plane:before {
  content: "\e012"; }

.icon-notebook:before {
  content: "\e013"; }

.icon-moustache:before {
  content: "\e014"; }

.icon-mouse:before {
  content: "\e015"; }

.icon-magnet:before {
  content: "\e016"; }

.icon-energy:before {
  content: "\e020"; }

.icon-emoticon-smile:before {
  content: "\e021"; }

.icon-disc:before {
  content: "\e022"; }

.icon-cursor-move:before {
  content: "\e023"; }

.icon-crop:before {
  content: "\e024"; }

.icon-credit-card:before {
  content: "\e025"; }

.icon-chemistry:before {
  content: "\e026"; }

.icon-user:before {
  content: "\e005"; }

.icon-speedometer:before {
  content: "\e007"; }

.icon-social-youtube:before {
  content: "\e008"; }

.icon-social-twitter:before {
  content: "\e009"; }

.icon-social-tumblr:before {
  content: "\e00a"; }

.icon-social-facebook:before {
  content: "\e00b"; }

.icon-social-dropbox:before {
  content: "\e00c"; }

.icon-social-dribbble:before {
  content: "\e00d"; }

.icon-shield:before {
  content: "\e00e"; }

.icon-screen-tablet:before {
  content: "\e00f"; }

.icon-magic-wand:before {
  content: "\e017"; }

.icon-hourglass:before {
  content: "\e018"; }

.icon-graduation:before {
  content: "\e019"; }

.icon-ghost:before {
  content: "\e01a"; }

.icon-game-controller:before {
  content: "\e01b"; }

.icon-fire:before {
  content: "\e01c"; }

.icon-eyeglasses:before {
  content: "\e01d"; }

.icon-envelope-open:before {
  content: "\e01e"; }

.icon-envelope-letter:before {
  content: "\e01f"; }

.icon-bell:before {
  content: "\e027"; }

.icon-badge:before {
  content: "\e028"; }

.icon-anchor:before {
  content: "\e029"; }

.icon-wallet:before {
  content: "\e02a"; }

.icon-vector:before {
  content: "\e02b"; }

.icon-speech:before {
  content: "\e02c"; }

.icon-puzzle:before {
  content: "\e02d"; }

.icon-printer:before {
  content: "\e02e"; }

.icon-present:before {
  content: "\e02f"; }

.icon-playlist:before {
  content: "\e030"; }

.icon-pin:before {
  content: "\e031"; }

.icon-picture:before {
  content: "\e032"; }

.icon-map:before {
  content: "\e033"; }

.icon-layers:before {
  content: "\e034"; }

.icon-handbag:before {
  content: "\e035"; }

.icon-globe-alt:before {
  content: "\e036"; }

.icon-globe:before {
  content: "\e037"; }

.icon-frame:before {
  content: "\e038"; }

.icon-folder-alt:before {
  content: "\e039"; }

.icon-film:before {
  content: "\e03a"; }

.icon-feed:before {
  content: "\e03b"; }

.icon-earphones-alt:before {
  content: "\e03c"; }

.icon-earphones:before {
  content: "\e03d"; }

.icon-drop:before {
  content: "\e03e"; }

.icon-drawer:before {
  content: "\e03f"; }

.icon-docs:before {
  content: "\e040"; }

.icon-directions:before {
  content: "\e041"; }

.icon-direction:before {
  content: "\e042"; }

.icon-diamond:before {
  content: "\e043"; }

.icon-cup:before {
  content: "\e044"; }

.icon-compass:before {
  content: "\e045"; }

.icon-call-out:before {
  content: "\e046"; }

.icon-call-in:before {
  content: "\e047"; }

.icon-call-end:before {
  content: "\e048"; }

.icon-calculator:before {
  content: "\e049"; }

.icon-bubbles:before {
  content: "\e04a"; }

.icon-briefcase:before {
  content: "\e04b"; }

.icon-book-open:before {
  content: "\e04c"; }

.icon-basket-loaded:before {
  content: "\e04d"; }

.icon-basket:before {
  content: "\e04e"; }

.icon-bag:before {
  content: "\e04f"; }

.icon-action-undo:before {
  content: "\e050"; }

.icon-action-redo:before {
  content: "\e051"; }

.icon-wrench:before {
  content: "\e052"; }

.icon-umbrella:before {
  content: "\e053"; }

.icon-trash:before {
  content: "\e054"; }

.icon-tag:before {
  content: "\e055"; }

.icon-support:before {
  content: "\e056"; }

.icon-size-fullscreen:before {
  content: "\e057"; }

.icon-size-actual:before {
  content: "\e058"; }

.icon-shuffle:before {
  content: "\e059"; }

.icon-share-alt:before {
  content: "\e05a"; }

.icon-share:before {
  content: "\e05b"; }

.icon-rocket:before {
  content: "\e05c"; }

.icon-question:before {
  content: "\e05d"; }

.icon-pie-chart:before {
  content: "\e05e"; }

.icon-pencil:before {
  content: "\e05f"; }

.icon-note:before {
  content: "\e060"; }

.icon-music-tone-alt:before {
  content: "\e061"; }

.icon-music-tone:before {
  content: "\e062"; }

.icon-microphone:before {
  content: "\e063"; }

.icon-loop:before {
  content: "\e064"; }

.icon-logout:before {
  content: "\e065"; }

.icon-login:before {
  content: "\e066"; }

.icon-list:before {
  content: "\e067"; }

.icon-like:before {
  content: "\e068"; }

.icon-home:before {
  content: "\e069"; }

.icon-grid:before {
  content: "\e06a"; }

.icon-graph:before {
  content: "\e06b"; }

.icon-equalizer:before {
  content: "\e06c"; }

.icon-dislike:before {
  content: "\e06d"; }

.icon-cursor:before {
  content: "\e06e"; }

.icon-control-start:before {
  content: "\e06f"; }

.icon-control-rewind:before {
  content: "\e070"; }

.icon-control-play:before {
  content: "\e071"; }

.icon-control-pause:before {
  content: "\e072"; }

.icon-control-forward:before {
  content: "\e073"; }

.icon-control-end:before {
  content: "\e074"; }

.icon-calendar:before {
  content: "\e075"; }

.icon-bulb:before {
  content: "\e076"; }

.icon-bar-chart:before {
  content: "\e077"; }

.icon-arrow-up:before {
  content: "\e078"; }

.icon-arrow-right:before {
  content: "\e079"; }

.icon-arrow-left:before {
  content: "\e07a"; }

.icon-arrow-down:before {
  content: "\e07b"; }

.icon-ban:before {
  content: "\e07c"; }

.icon-bubble:before {
  content: "\e07d"; }

.icon-camcorder:before {
  content: "\e07e"; }

.icon-camera:before {
  content: "\e07f"; }

.icon-check:before {
  content: "\e080"; }

.icon-clock:before {
  content: "\e081"; }

.icon-close:before {
  content: "\e082"; }

.icon-cloud-download:before {
  content: "\e083"; }

.icon-cloud-upload:before {
  content: "\e084"; }

.icon-doc:before {
  content: "\e085"; }

.icon-envelope:before {
  content: "\e086"; }

.icon-eye:before {
  content: "\e087"; }

.icon-flag:before {
  content: "\e088"; }

.icon-folder:before {
  content: "\e089"; }

.icon-heart:before {
  content: "\e08a"; }

.icon-info:before {
  content: "\e08b"; }

.icon-key:before {
  content: "\e08c"; }

.icon-link:before {
  content: "\e08d"; }

.icon-lock:before {
  content: "\e08e"; }

.icon-lock-open:before {
  content: "\e08f"; }

.icon-magnifier:before {
  content: "\e090"; }

.icon-magnifier-add:before {
  content: "\e091"; }

.icon-magnifier-remove:before {
  content: "\e092"; }

.icon-paper-clip:before {
  content: "\e093"; }

.icon-paper-plane:before {
  content: "\e094"; }

.icon-plus:before {
  content: "\e095"; }

.icon-pointer:before {
  content: "\e096"; }

.icon-power:before {
  content: "\e097"; }

.icon-refresh:before {
  content: "\e098"; }

.icon-reload:before {
  content: "\e099"; }

.icon-settings:before {
  content: "\e09a"; }

.icon-star:before {
  content: "\e09b"; }

.icon-symbol-female:before {
  content: "\e09c"; }

.icon-symbol-male:before {
  content: "\e09d"; }

.icon-target:before {
  content: "\e09e"; }

.icon-volume-1:before {
  content: "\e09f"; }

.icon-volume-2:before {
  content: "\e0a0"; }

.icon-volume-off:before {
  content: "\e0a1"; }

.icon-users:before {
  content: "\e001"; }
