* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background: #eee;
  background: -webkit-radial-gradient(center, ellipse, #fff 0%, #eee 100%);
  background: radial-gradient(ellipse at center, #fff 0%, #eee 100%);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'PT Serif', serif;
  font-size: 17px;
  line-height: 1.88235;
  color: #36404e;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  widows: 3;
  orphans: 3; }
  @media print {
    body {
      background: #fff;
      color: #000; } }

.book-container {
  max-width: 900px;
  padding: 30px 30px;
  margin: 0 auto; }
  @media print {
    .book-container {
      margin: 0;
      padding: 0;
      max-width: none; } }

.book {
  background: #fff;
  border: 1px solid #ddd;
  padding: 16mm; }
  @media print {
    .book {
      border: 0;
      padding: 0; } }

@page {
  size: 210mm 297mm;
  margin: 27mm 16mm 27mm 16mm; }

.typo p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  margin-bottom: 1.3em;
  text-align: justify; }
.typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
  -webkit-break-after: avoid;
     -moz-break-after: avoid;
          break-after: avoid; }
.typo h1 {
  font-size: 3.157em; }
.typo h2 {
  font-size: 2.369em; }
.typo h3 {
  font-size: 1.777em; }
.typo h4 {
  font-size: 1.333em; }
.typo h5 {
  font-size: 1em; }
.typo h6 {
  font-size: .75em; }
.typo small, .typo .small {
  font-size: 0.75em; }
.typo ol, .typo ul {
  margin: 0 0 1.3em 1em; }
  .typo ol ul, .typo ol ol, .typo ul ul, .typo ul ol {
    margin-bottom: 0; }
  .typo ol li, .typo ul li {
    margin: 0 0 0 1em; }
.typo hr {
  height: 0;
  border-top: 1px solid #eee;
  margin: 3em 0; }
.typo code {
  padding: .2em .5em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px; }
.typo pre {
  border-radius: 3px;
  font-family: Monaco, MonacoRegular, 'Courier New', monospace;
  background-color: rgba(0, 0, 0, 0.04);
  color: #333;
  margin-bottom: 2.28571em;
  overflow-x: auto;
  padding: 16px;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  letter-spacing: .2px;
  font-size: 14px;
  line-height: 1.8; }
  .typo pre code {
    background: transparent;
    padding: 0;
    font-size: 100%;
    border-radius: 0;
    display: block; }
.typo img {
  max-width: 100%; }
.typo > img {
  margin: 2em 0; }
.typo > img, .typo figure img {
  display: block;
  border-radius: 3px; }
.typo figure {
  margin: 2em 0; }
  .typo figure figcaption {
    font-style: italic;
    text-align: center;
    margin: 10px 0 0 0; }
.typo blockquote {
  font-style: italic;
  padding-left: 2em;
  border-left: 2px solid #36404e; }
